
body{
    font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace;
    font-size: 14px;
    line-height: 28px;
}

.l1{
    color: red;
}
.lUnknown{
    background-color:#ffdddd;
}

.lo1.l1{
    color: rgb(255, 200, 0);
}
.lo1.l2{
    color: rgb(255, 160, 0);
}
.lo1.l3{
    color: rgb(255, 120, 0);
}
.lo1.l4{
    color: rgb(255, 72, 0);
}

.lHigh{
    color: rgb(255, 40, 0);
}


.lo.l1{
    color: rgb(255, 200, 0);
}
.lo.l2{
    color: rgb(255, 160, 0);
}
.lo.l3{
    color: rgb(255, 120, 0);
}
.lo.l4{
    color: rgb(255, 72, 0);
}

.lo{
    color: rgb(255, 40, 0);
}


/* Tooltip 容器 */
.w {
    position: relative;
    /* display: inline-block; */
    /* border-bottom: 1px dotted black; 悬停元素上显示点线 */
}
 
/* Tooltip 文本 */
.w .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    padding-right:10px;
 
    /* 定位 */
    position: absolute;
    z-index: 1;

    min-width: 12em;
    font-size: .6em;
    line-height: 1em;
    left: 0;
    text-align: left;
    padding: 0.6em;
}
/* Tooltip 文本 */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    padding-right:10px;
 
    /* 定位 */
    position: absolute;
    z-index: 1;

    min-width: 12em;
    font-size: .6em;
    line-height: 1em;
    left: 0;
    text-align: left;
    padding: 0.6em;
}

rt{
    visibility: visible;
    background-color: transparent;
    text-align: center;
 
    /* 定位 */
    position: absolute;
    z-index: 1;

    font-size: .6em;
    line-height: 1em;
    left: 0;
}
 
/* 鼠标移动上去后显示提示框 */
.tooltip:hover .tooltiptext {
    visibility: visible;
}
/* 鼠标移动上去后显示提示框 */
.w:hover .tooltiptext {
    visibility: visible;
}

.tooltiptext input{
    display: block;
    position: absolute;
    right:0px;
    top: 0px;
}

span.unknown{
}